.cart {
    background-color: transparent;
    border: none;
    border-radius: 15px;
    padding: 5px;
    margin: 15px;
    cursor: pointer;
}

.cart:hover{
    background-color: #aa629a;
}

.bubble{
    position: relative;
    left: 60px;
    top: -12px;
    z-index: 1;
}