.image{
    width: 1920px;
    height: 1280px;
}

.carousel:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.5);
  }

.carousel{
    height: 60vh;
}

.text{
    color: white;
    z-index: 1;
}

.button{
    background-color: transparent;
    color: white;
    border: solid;
    border-radius: 15px;
    z-index: 1;
}

.button:hover{
    border-radius: 15px;
    border-color: black;
    color: black;
    z-index: 1;
}